<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="Admin">

	<select id="selectAdmin" resultType="Admin">
	
		SELECT 
			adminId, password
		FROM
			admin
		WHERE
			adminId = #{adminId} and password = #{password}
	
	</select>
	

	
	<!-- 회원 삭제 -->
	<delete id="deleteList">
  		delete from member
		where member_id = #{member_id}
  	</delete>
	
	<!-- 확진자 등록 -->
	<insert id="insertConfirmed" >
		INSERT INTO COVID_PAT(PAT_NO, PAT_NAME, PAT_LOC, PAT_TIME, PAT_AGE, PAT_SEX, PAT_ROUTE, PAT_TRT_SW, PAT_DIE_SW)
		VALUES (pat_seq.nextval, #{pat_Name}, #{pat_Loc}, sysdate, #{pat_Age}, #{pat_Sex}, #{pat_Route}, #{pat_Trt_Sw}, #{pat_Die_Sw})
	</insert>
	
	<!-- 확진자 목록 -->
	<select id="selectConList" resultType="COVID">
		select * from (
		select rownum rnum, c.* from(
			select * from covid_pat
			order by pat_no desc
		) c
	) covid_pat 
	where rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<!-- 확진자 -->
	<select id="selectCntConAll" resultType="int">
  		select count(*) from covid_pat
  	</select>  
  	
 	<!-- 확진자 키워드 -->
	<select id="selectCntCon" resultType="int">
  		select count(*) from covid_pat
  		where pat_name like '%' || #{keyword} || '%'
  	</select>  
  	
  	<!-- 검색 -->
 	<select id="selectCntConSearchAll" resultType="int" parameterType="String">
  		select count(*) from covid_pat
  		where pat_name like '%' || #{keyword} || '%'
  	</select>
  	
 	<!-- 확진자 목록 전체검색 -->
  	<select id="selectconSearchList" resultType="COVID" parameterType="map">

		select * from (
			select rownum rnum, c.* from(
				select * from covid_pat
				where pat_name like '%' || #{keyword} || '%'
				order by pat_no desc
			) c
		) covid_pat 
		where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  	</select>
  	
 	<!-- 확지자 삭제 -->
	<delete id="deleteconList">
  		delete from covid_pat
		where pat_no = #{pat_No}
  	</delete>
  	
  	<!-- dddddd -->
  	
  	<!-- 정보공유 게시판 -->
	<select id="selectCntInfoAll" resultType="int">
  		select count(*) from info_board
  	</select>  
  	<!--키워드별 정보공유 게시판숫자 -->
	<select id="selectCntInfo" resultType="int">
  		select count(*) from info_board
  			where info_writer like '%' || #{keyword} || '%'
				or info_title like  '%' || #{keyword} || '%'
  	</select>  
  	
  	<!-- 정보공유 게시판 -->
 	<select id="selectInfoList" resultType="AdInfo">
	select * from (
		select rownum rnum, c.* from(
			select * from info_board
			order by info_idx desc
		) c
	) info_board 
	where rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	
  	<!-- 정보공유 전체 검색 -->
  	<select id="selectInfoSearchList" resultType="AdInfo" parameterType="map">

		select * from (
			select rownum rnum, c.* from(
				select * from info_board
				where info_writer like '%' || #{keyword} || '%'
				or info_title like  '%' || #{keyword} || '%'
				order by info_idx desc
			) c
		) info_board 
		where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  	</select>
	
	<!-- dddddd -->
	
  	<!-- 정보공유 검색 -->
 	<select id="selectCntInfoSearchAll" resultType="int" parameterType="String">
  		select count(*) from info_board
  		where info_writer like '%' || #{keyword} || '%'
  		or info_title like '%' || #{keyword} || '%'
  	</select>
	
	<!-- FAQ -->
	<select id="selectCntFaqAll" resultType="int">
  		select count(*) from faq_board
  	</select>  
  	
		<!-- FAQ 키워드 별 게시판 숫자 -->
	<select id="selectCntFaq" resultType="int">
  		select count(*) from faq_board
  		where faq_title like '%' || #{keyword} || '%'
  	</select>  
	
  	<!-- FAQ 게시판 -->
 	<select id="selectFaqList" resultType="FAQ">
	select * from (
		select rownum rnum, c.* from(
			select * from faq_board
			order by faq_idx desc
		) c
	) faq_board 
	where rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
  	<!-- FAQ 검색 -->
 	<select id="selectCntFaqSearchAll" resultType="int" parameterType="String">
  		select count(*) from faq_board
  		where faq_title like '%' || #{keyword} || '%'
  		or faq_content like '%' || #{keyword} || '%'
  	</select>
	
  	<!-- FAQ 검색 -->
  	<select id="selectFaqSearchList" resultType="FAQ" parameterType="map">

		select * from (
			select rownum rnum, c.* from(
				select * from faq_board
				where faq_title like '%' || #{keyword} || '%'
				order by faq_idx desc
			) c
		) faq_board 
		where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  	</select>
	
	<!-- 멤버 -->
	<select id="selectCntUserAll" resultType="int">
  		select count(*) from member
  	</select>  
	
  	<!--키워드별 멤버 게시판숫자 -->
	<select id="selectCntUser" resultType="int">
  		select count(*) from member
  			where member_name like '%' || #{keyword} || '%'
				or member_add like  '%' || #{keyword} || '%'
  	</select>  
	
	<!-- 멤버 전체 검색 -->
  	<select id="selectUserSearchList" resultType="MEMBER" parameterType="map">

		select * from (
			select rownum rnum, c.* from(
				select * from member
				where member_name like '%' || #{keyword} || '%'
				or member_add like  '%' || #{keyword} || '%'
				order by member_id desc
			) c
		) member 
		where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  	</select>
	
  	<select id="selectCntUserSearchAll" resultType="int" >

		
			
				select count(*) from member
				where member_name like '%' || #{keyword} || '%'
				or member_add like  '%' || #{keyword} || '%'
				
		
	
		
	
  	</select>
	
	  <select id="asUserSearchList" resultType="MEMBER" parameterType="map">

		select * from (
			select rownum rnum, c.* from(
				select * from member
				where member_name like '%' || #{keyword} || '%'
				or member_add like  '%' || #{keyword} || '%'
				order by member_id desc
			) c
		) member 
		where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  	</select>
	
	
	<delete id="deleteInfoList">
  		delete from info_board
		where info_idx = #{info_idx}
  	</delete>
	
	
	<select id="selectCntShareAll" resultType="int">
  		select count(*) from shar
  	</select>  
  	
  	<!-- 쇼핑키워드 -->
	<select id="selectCntShare" resultType="int">
  		select count(*) from shar
  			where shareName like '%' || #{keyword} || '%'
				or member_id like  '%' || #{keyword} || '%'
  	</select>  
  	
  	
 	  <select id="selectShareList" resultType="Share" parameterType="map">

		select * from (
			select rownum rnum, c.* from(
				select * from shar
				where shareName like '%' || #{keyword} || '%'
				or member_id like  '%' || #{keyword} || '%'
				order by share_idx desc
			) c
		) shar 
		where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  	</select>
  	
 	  <select id="selectCntShareSearchAll" resultType="int">

				select count(*) from shar
				where shareName like '%' || #{keyword} || '%'
				or member_id like  '%' || #{keyword} || '%'
				order by share_idx desc
	
  	</select>
	
  	<select id="adShareSearchList" resultType="Share" parameterType="map">

		select * from (
			select rownum rnum, c.* from(
				select * from shar
				where shareName like '%' || #{keyword} || '%'
				or member_id like  '%' || #{keyword} || '%'
				order by share_idx desc
			) c
		) shar 
		where rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	
  	</select>
  	
 	<delete id="deleteShareList">
  		delete from shar
		where share_idx = #{share_idx}
  	</delete>
	
</mapper>