<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="SHARE">
	<insert id="shareUpload">
		insert into shar(share_idx,shareField,shareName,simpleInfo,shareContent,shareDate,shareDateEn,sharemoney,member_id)
		values(
		SHARE_SEQ.nextval,#{shareField},#{shareName}
		, #{simpleInfo} , #{shareContent} , #{shareDate} , SYSDATE ,#{sharemoney},#{member_id}
		)
	</insert>
		<insert id="insertFile">
		insert into share_file
		(f_idx, origin_file,
		 rename_file, save_path , reg_date)
		values(
		SHFILE_SEQ.nextval, 
		#{originfile},
		#{renamefile},
		#{savepath},
		sysdate
		)
	</insert>
	
	<insert id="insertThumb">
		
		insert into share_thumb
			(t_idx, share_idx , origin_file,
			 rename_file, save_path)
		values(
			thumb_seq.nextval, 
			SHARE_SEQ.currval,
			#{originfile},
			#{renamefile},
			#{savePath}
		)
		
	
	</insert>	
	
	<select id = "selectshar" resultType="HashMap">
	
	select nvl(payper,0) payper,nvl(pay,0) pay,share_idx,sharefield,sharename,simpleinfo,sharecontent,sharemoney,sharedateen,ROUND(sharedate-sysdate) day,sharedate,rename_file,member_id
                from(
                    select rownum rnum , s3.*
			from(
				select ROUND((sum(sp.payment)/s.sharemoney) * 100,1) payper,s.member_id,sum(sp.payment) pay,s.sharefield,s.sharename,s.simpleinfo,s.sharecontent,s.sharemoney,s.sharedateen,s.share_idx,s.sharedate,st.rename_file 
				from shar s, share_thumb st,share_pay sp
                where s.share_idx = st.share_idx
                and s.share_idx = sp.share_idx(+)
                <choose>
                <when test='filter != "*"'>
			      and s.sharefield = #{filter}
			   	</when>
			    <when test='filter == "*"'>
			      and 1=1
			   	</when>
		 		</choose>
                group by s.sharefield, s.sharename, s.simpleinfo, s.sharecontent, s.sharemoney, 
                s.sharedateen, s.share_idx, s.sharedate, st.rename_file,s.member_id
				order by s.share_idx desc
			)s3
		)where rnum between #{start} and #{end}
	
	
	</select>
	
	
	<select id="selectContentCnt" resultType="int">
		select count(*) from shar
	</select>
	

	<select id="selectContentCnt2" parameterType="String" resultType="int">
		select count(*) from shar where sharefield = #{value}
	</select>
	
	<select id="selectDetail" resultType="hashmap">
        select nvl(ROUND((sum(sp.payment)/s.sharemoney) * 100,1),0) payper,s.member_id,s.sharecontent,s.share_idx,s.sharefield,s.sharename,s.simpleinfo,s.sharedate,s.sharemoney,st.rename_file,nvl(sum(sp.payment),0) pay,nvl(ROUND((sum(sp.payment)/s.sharemoney) * 100,1),0),s.joinper
    	from shar s, share_thumb st,share_pay sp
        where s.share_idx = st.share_idx
        and s.share_idx = sp.share_idx(+)
        and s.share_idx = #{share_idx}
        group by s.sharecontent, s.share_idx, s.sharefield, s.sharename, s.simpleinfo, 
        s.sharedate, s.sharemoney, st.rename_file,s.joinper,s.member_id
	</select>
	
	<insert id="insertGoods">
		insert into share_goods
		values(goods_seq.nextval,share_seq.currval,#{goods_Name},#{goods_Price},#{goods_Stock} )
	</insert>
	
	<select id="selectGoods" resultType="GOODS">
		SELECT * FROM share_goods WHERE share_idx = #{share_idx}
	</select>
	<insert id="insertpayment">
	insert into share_pay(pay_idx,member_id,share_idx,payment,pay_day,goods_name,address)
	values(sh_pay_seq.nextval,#{member_id},#{share_idx},#{payment},#{pay_day},#{goods_name},#{address})
	</insert>
	<insert id="insertPoint">
	UPDATE member SET member_point = member_point + #{mem_pay}
	WHERE member_id = #{mem_id}
	
	</insert>
	
	<insert id="insertJoinper">
	update shar set joinper = joinper + 1 where share_idx = #{share_idx}
	</insert>
	
	<insert id="insertDonate">
	insert into share_donate values(SHARE_DONATE_SEQ.nextval,#{mem_pay})
	</insert>

</mapper>