<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<!-- DB컬럼명을 Java의 Camel표기법으로 변경 -->
	<typeAliases>
		<!--타입얼리어스 -->
		<typeAlias type="com.covid19.app.admin.login.vo.AdminMember" alias="Admin"/>
		<typeAlias type="com.covid19.app.admin.login.vo.AdMemberList" alias="Admember"/>
		<typeAlias type="com.covid19.app.board.model.vo.InfoShare" alias="INFO"/>
		<typeAlias type="com.covid19.app.board.model.vo.Faq" alias="FAQ"/>
		<typeAlias type="com.covid19.app.coronaNews.model.vo.CovidNews" alias="NEWS"/>
		<typeAlias type="com.covid19.app.member.model.vo.Member" alias="MEMBER"/>
<!-- 		<typeAlias type="com.covid19.app.shareper.model.dto.Share" alias="Share"/> -->
<!--       	<typeAlias type="com.covid19.app.shareper.model.dto.ShareQna" alias="ShareQna"/> -->
<!--       	<typeAlias type="com.covid19.app.shareper.model.dto.ShareCheering" alias="ShareCheering"/> -->
	</typeAliases>
	
</configuration>